* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0F1B4C;
}

html {
    font-size: 62.5%;

}

main {
    height: 2000px;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common  */

.content {
    width: 1100px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    color: #FFF;
    background-color: var(--primary-color);
    min-width: 98px;
    padding: 18px 16px;
    text-align: center;
    border-radius: 8px;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

/* header  */

.header {
    background: #E6F0FF;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    padding-top : 38px; 
}

.navbar ul {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4F5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.actions {
    margin-left: auto;
}

.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    color: #000336;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.19; 
    margin-top: 8px;
}

.hero .desc {
    margin-top: 30px;
    color: #5A6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute; 
    bottom: 0; 
    right: calc((100vw - 1100px) / 2 - 100px); 
}

/* Clients */

.clients {
    margin-top: 122px;
}

.clients .row {
    display: flex;
    justify-content: space-between;
}

.clients .decs {
    color: #7D8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; 
}

.clients .row-decs {
    margin-top: 24px;
}

.clients .img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}



